{
  "presets":  [["es2015", { "modules": false }], "react", "stage-2"],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "test/**/*.test.js"
          ]
        }]
      ]
    }
  }
}
