
.clientlist-block {
    background-color: blue;
}

.clientlistheader-block {
    padding: 5px;

    .sort {
        width: 20%;
    }

    .display {
        width: 20%;
    }

    .filter {
        width: 20%;
    }

    .space {
        width: auto;
    }

    .control {
        width: 20%;
    }
}

.clientlistlist-block {
    padding: 5px;
}

.clientlistfooter-block {
    padding: 5px;
}
