
.clientlist-block {
    background-color: blue;
}

.clientlistheader-block {
    background-color: red;
}

.clientlistlist-block {
    background-color: green;
}

.clientlistfooter-block {
    background-color: blue;
}