
.clientlist-block {
    background-color: blue;
}

.clientlistheader-block {
    display: flex;
    padding: 5px;

    .sort {
        width: 20%;
    }

    .display {
        width: 20%;
    }

    .filter {
        width: 20%;

        .control {
            text-align: left;
            width: 100%;
            height: 36px;
        }
    }

    .space {
        width: 20%;
    }

    .control {
        text-align: right;
        width: 20%;

        .add {
            margin-top: 5px;
        }
    }
}

.clientlistlist-block {
    padding: 5px;

    .listitem {
        display: flex;
        margin-bottom: 10px;
        padding: 5px;
        border: 1px solid #000;

        .main-info {
            width: 20%;
        }

        .order-info {
            display: flex;
            width: 50%;

            .row {
                width: 50%;
            }
        }

        .focal-info {
            width: 20%;
        }

        .nav-container {
            display: grid;
            align-content: center;
            justify-content: flex-end;
            width: 10%;
        }
    }
}

.clientlistfooter-block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}


.Select-control {
    line-height: 34px;
    height: 34px;
}

.Select-clear {
    display: none !important;
}

.Select-placeholder {
    top: 0px;
}

.Select-input {
    & > input {
        margin-top: 0px;
        height: 34px;
    }
}