[Unit]
Description=Djavan
#Requires=After=nginx.service

[Service]
ExecStart=/usr/bin/node ./bin/server.js
WorkingDirectory={{ project.root }}
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=djavan
#User={{ project.user }}
#Group={{ project.group }}
Environment="NODE_ENV={{ project.environment }} PORT={{ project.port }} API_URL={{ project.apiurl }}"

[Install]
WantedBy=multi-user.target